#pagePrinter .modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

#pagePrinter .fullSize {
  height: 100%;
  width: 100%;
}

#pagePrinter iframe {
  border: none;
}

@media print {
  .hidden-print {
    display: none !important;
  }
}
